/*Estilos Generales*/
*{
	margin:0px;
	padding: 0px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

html, body{
	overflow-x: hidden;
	
}

body{
	background: white;
}

.clearfix{
	clear:both;
	float:none;
}

.container{
	width: 85%;
	margin:0px auto; /*centrar bloque*/
}

/*Cabecera*/

#main-header{
	background: white;
	height: 100px;
	line-height: 75px;
}

#logo{
	width: 30%;
	float: left;
	line-height: 18px;
	padding-top: 30px;
	padding-bottom: 30px;

}

#logo h1{
	font-weight:bold;
	font-size:20px;
	color: #a22a86;

}

#menu{
	width: 550px;
	float:right;
	text-transform: uppercase;
	font-size: 14px;
}

#menu ul li{
	list-style: none;
	float:left;
	margin-left: 19px;
	margin-right: 19px;
}

#menu ul li a{
	color:black;

}
#menu ul li a:hover{
	color:#a22a86;
	
}

/*Slider*/

#slider{
	height: 150px;
	background: #a22a86;
}

#slider h2{
	font-size: 30px;
	text-align: center;
	color:white;
	padding-top: 35px;
	

}


/*Servicios*/

.subheader{
	font-size: 34px;
	color:#333;
	text-align: center;
	margin-top:40px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(162, 42, 134, 0.3);
}

.service, .video{
	width: 33%;
	text-align: center;
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.service img{
	height: 48px;
	margin-bottom: 20px;

}

.service h3{
	margin-bottom: 10px;

}

.service p, .video p{
	color: #444;
	text-align: center;
	display:block;
	width: 85%;
	margin:0px auto;

}
.categorias{
	width: 23%;
	text-align: left;
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 5px;
	justify-content: center;


}

/*Videos*/

.video iframe {
	width: 100%;
	height: 250px;


}

.video{
	width: 100%;
	padding-top: 10px:
	padding-bottom:10px;
	margin:0  auto;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.video .box{
	position: relative;
	width: 250px;
	height: 250px;
	background: #a22a86;
	margin:5px;
	box-sizing: border-box;
	display: inline-block;
	


}

.video .box .imgBox{
	position: relative;
	overflow: hidden;

}

.video .box .imgBox img{
	max-width: 100%;
	transition: transform 2s;
}

.video .box:hover .imgBox img{
	transform:scale(1.2);
}

.video .box .details{
	position:absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}

.video .box:hover .details{
	transform: scaleY(1);
	
}


.video .box .details .content-video{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 10px;
	color:#fff;
	
}

.video .box .details .content-video h2{
	margin: 0;
	padding: 0;
	font-size: 20px;

}

.video .box .details .content-video p{
	margin:10px 0 0;
	padding: 5px;
	color: #fff;
	align-content: center;
}

#intro{
	padding-left: 25px;
	padding-right: 25px;

}

.btn1 {
	border:1px solid #a22a86;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	cursor:pointer;
	margin:0px;
	transition: .8s;
	position:relative;
	overflow: hidden;
	text-decoration-color: black;
	
}

.btn1:hover{
	color:#a22a86;
	height: 180%;
}

a{
  color: black;
}
a:hover{
  color: #a22a86;
}

a:active{
  color: blue;
}







/*Footer*/

#footer2 {
	background: #333;
	padding-top: 5px;
	padding-bottom: 40px;
	margin-top: 30px;
	text-align: center;
	color: white;

}

#footer2 .subheader{
	color: white;
}

#networks{
	display: block;
	width: 216px;
	margin: 0px auto;
	list-style: none;
	margin-bottom: 20px;
	margin-top: 20px;

}

#networks li{
	float:left;
	margin-left: 20px;
	margin-right: 20px;
	transition: all 300ms;

}

#networks li:hover{
	opacity: 0.8;
	transform: scale(1.1, 1.1);
}

/*Media Query*/
@media (max-width: 1225px ) {
	.container{
		width: 95%;
	}
	#slider h2{
		font-size: 30px;
		line-height: 30px;
		margin-top: 20px;

	}	
	
	#slider{
		overflow: hidden;
		height: 150px;
		
	}	
}


@media (max-width: 1085px){
	#main-header{
		height: 50px;
		line-height: 35px;
	}
	#logo{
		width: 60%;
	}

@media (max-width: 999px){
	#logo{
		width: 227px;
		float:none;
		margin:0px auto;
	}
	#menu{
		float: none;
		margin:0px auto;
	}
	#slider{
		overflow: hidden;
		height: 150px;
		
	}	
	#slider h2{
		font-size: 30px;
		line-height: 30px;
		margin-top: 5px;

	}	
}
@media (max-width: 460px){
	#slider h2{
		font-size: 25px;
		line-height: 30px;
		margin-top: 5px;

	}	

}

@media (max-width: 780px){
	.service, .video, .categorias{
		width: 100%;
		float:none;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.service img{
		margin-bottom: 10px;
	}

	.service p, .video p{
		margin-top: 10px;

	}

	.video iframe{
		width: 100%;
		height: 250px;
	}


}

@media (max-width: 377px){

	#menu ul li{
		margin-left: 10px;
		margin-right: 10px;

	}
	#logo{
		width: 227px;
		float:none;
		margin:0px auto;
	}
	#menu{
		width: 80%;
		text-align: center;
		margin-left: 3%;
		margin-right: 3%;
	}
	#slider h2{
		margin-top: 10px;

	}

	.service, .video{
		width: 100%;
		
	}
	.video iframe{
		width: 100%;
		height: 250px;
	}	

	


}	
}

@media (max-width: 345px){
	#main-header{
		height: auto;
	}

	#menu ul li{
		float:none;
	}	
}

